.counter-container {
  border: 1px solid black;
  border-radius: 0.5rem;
  /* padding:0.5rem; */
  background-color:bisque;
  
}



.value {
  font-size: x-large;
  font-weight: bold;
  margin: 0 0.5rem;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}